@font-face {
    font-family: 'Gilroy';
    src: url('/fonts/Gilroy-Black.eot');
    src: local('Gilroy-Black'),
        url('/fonts/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Gilroy-Black.woff') format('woff'),
        url('/fonts/Gilroy-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('/fonts/Gilroy-Bold.eot');
    src: local('Gilroy-Bold'),
        url('/fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Gilroy-Bold.woff') format('woff'),
        url('/fonts/Gilroy-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('/fonts/Gilroy-Medium.eot');
    src: local('Gilroy-Medium'),
        url('/fonts/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Gilroy-Medium.woff') format('woff'),
        url('/fonts/Gilroy-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('/fonts/Gilroy-Thin.eot');
    src: local('Gilroy-Thin'),
        url('/fonts/Gilroy-Thin.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Gilroy-Thin.woff') format('woff'),
        url('/fonts/Gilroy-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('/fonts/Gilroy-Black_1.eot');
    src: local('Gilroy-Black'),
        url('/fonts/Gilroy-Black_1.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Gilroy-Black_1.woff') format('woff'),
        url('/fonts/Gilroy-Black_1.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('/fonts/Gilroy-Light.eot');
    src: local('Gilroy-Light'),
        url('/fonts/Gilroy-Light.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Gilroy-Light.woff') format('woff'),
        url('/fonts/Gilroy-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('/fonts/Gilroy-Medium_1.eot');
    src: local('Gilroy-Medium'),
        url('/fonts/Gilroy-Medium_1.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Gilroy-Medium_1.woff') format('woff'),
        url('/fonts/Gilroy-Medium_1.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('/fonts/Gilroy-Bold_1.eot');
    src: local('Gilroy-Bold'),
        url('/fonts/Gilroy-Bold_1.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Gilroy-Bold_1.woff') format('woff'),
        url('/fonts/Gilroy-Bold_1.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('/fonts/Gilroy-Light_1.eot');
    src: local('Gilroy-Light'),
        url('/fonts/Gilroy-Light_1.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Gilroy-Light_1.woff') format('woff'),
        url('/fonts/Gilroy-Light_1.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('/fonts/Gilroy-Thin_1.eot');
    src: local('Gilroy-Thin'),
        url('/fonts/Gilroy-Thin_1.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Gilroy-Thin_1.woff') format('woff'),
        url('/fonts/Gilroy-Thin_1.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('/fonts/Gilroy-UltraLight.eot');
    src: local('Gilroy-UltraLight'),
        url('/fonts/Gilroy-UltraLight.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Gilroy-UltraLight.woff') format('woff'),
        url('/fonts/Gilroy-UltraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('/fonts/Gilroy-Heavy.eot');
    src: local('Gilroy-Heavy'),
        url('/fonts/Gilroy-Heavy.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Gilroy-Heavy.woff') format('woff'),
        url('/fonts/Gilroy-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('/fonts/Gilroy-Heavy_1.eot');
    src: local('Gilroy-Heavy'),
        url('/fonts/Gilroy-Heavy_1.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Gilroy-Heavy_1.woff') format('woff'),
        url('/fonts/Gilroy-Heavy_1.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('/fonts/Gilroy-ExtraBold.eot');
    src: local('Gilroy-ExtraBold'),
        url('/fonts/Gilroy-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Gilroy-ExtraBold.woff') format('woff'),
        url('/fonts/Gilroy-ExtraBold.ttf') format('truetype');
        
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('/fonts/Gilroy-Regular.eot');
    src: local('Gilroy-Regular'),
        url('/fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Gilroy-Regular.woff') format('woff'),
        url('/fonts/Gilroy-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('/fonts/Gilroy-ExtraBold_1.eot');
    src: local('Gilroy-ExtraBold'),
        url('/fonts/Gilroy-ExtraBold_1.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Gilroy-ExtraBold_1.woff') format('woff'),
        url('/fonts/Gilroy-ExtraBold_1.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('/fonts/Gilroy-SemiBold.eot');
    src: local('Gilroy-SemiBold'),
        url('/fonts/Gilroy-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Gilroy-SemiBold.woff') format('woff'),
        url('/fonts/Gilroy-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('/fonts/Gilroy-UltraLight_1.eot');
    src: local('Gilroy-UltraLight'),
        url('/fonts/Gilroy-UltraLight_1.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Gilroy-UltraLight_1.woff') format('woff'),
        url('/fonts/Gilroy-UltraLight_1.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('/fonts/Gilroy-SemiBold_1.eot');
    src: local('Gilroy-SemiBold'),
        url('/fonts/Gilroy-SemiBold_1.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Gilroy-SemiBold_1.woff') format('woff'),
        url('/fonts/Gilroy-SemiBold_1.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('/fonts/Gilroy-Regular_1.eot');
    src: local('Gilroy-Regular'),
        url('/fonts/Gilroy-Regular_1.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Gilroy-Regular_1.woff') format('woff'),
        url('/fonts/Gilroy-Regular_1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'icomoon';
    src: url('/fonts/icomoon.eot?f0f1tm');
    src: url('/fonts/icomoon.eot?f0f1tm#iefix') format('embedded-opentype'),
        url('/fonts/icomoon.ttf?f0f1tm') format('truetype'),
        url('/fonts/icomoon.woff?f0f1tm') format('woff'),
        url('/fonts/icomoon.svg?f0f1tm#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-edge:before {
    content: "\e900";
}

.icon-runtime:before {
    content: "\e901";
}

.icon-registry:before {
    content: "\e902";
}

.icon-spiral:before {
    content: "\e903";
}

.icon-server:before {
    content: "\e904";
}

.icon-fire:before {
    content: "\e905";
}

.icon-doc:before {
    content: "\e906";
}

.icon-github:before {
    content: "\e907";
}

.icon-diamond:before {
    content: "\e908";
}

.icon-play:before {
    content: "\e909";
}