@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;
    --title : 272, 66%, 6%, 1;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
    --placeholder: 272, 66%, 6%, 0.05

  }
 
}

.communitymarginTop{
  margin-top: 18rem;
}
.custom-primary-button {
  background-color: #0F0518;
  color: #FFFFFF;
  border-color: #0F0518;
  border-radius: 50px !important;
}

.custom-github-button {
  background-color: #EFF1F6;
  color: #0F0518;
  border: 1px solid rgba(15, 5, 24, 0.2);
  border-radius: 50px !important;
}

.custom-github-button:hover,
.custom-github-button.hover {
  background-color: rgba(15, 5, 24, 0.05);
}

.custom-github-button:active,
.custom-github-button.pressed {
  background-color: rgba(15, 5, 24, 0.07);
}

.custom-btn-tertiary {
  background-color: rgba(15, 5, 24, 0.05);
  color: #0F0518;
  border: 1px solid rgba(15, 5, 24, 0.05);
}

.custom-btn-tertiary:hover,
.custom-btn-tertiary.hover {
  background-color: rgba(15, 5, 24, 0.07);
}

.custom-btn-tertiary:active,
.custom-btn-tertiary.pressed {
  background-color: rgba(15, 5, 24, 0.1);
}

.smallbtn .buttoneditor {
  border: 1px solid #f7efef;
  color: #cccccc;
  @apply rounded-full px-4 py-1;
}

.smallbtn .buttoneditor:hover {
  color: white;
}
.checkback{
  background: radial-gradient( rgba(251, 251, 252, 0) 100%);
  mix-blend-mode: normal;
opacity: 0.8;
}


.smallbtn .buttoneditor.set-button-active {
  color: black;
  border-color: white;
  background-color: white;
}
.codecardbackground {
    background-color: #1E1E1E;
    overflow: hidden;
}
.Editorbackground {
  background-image: url(/Logo/editor-header.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.codecardbackground .ant-card-body {
    padding: 0;
}
.codecardshadow {
  border-color: #0F051833;
  box-shadow: 0px 8.91428px 38.6286px rgba(35, 16, 68, 0.05), 0px 2.6874px 15.7931px rgba(35, 16, 68, 0.05), 0px 1.11621px 10.0286px rgba(35, 16, 68, 0.015), 0px 0.40371px 7.42857px rgba(35, 16, 68, 0.001);
  @apply rounded-3xl border;
}
.background {
  background: linear-gradient(180deg, #EFF1F6 0%, #FCFCFE 100%);
}
.herosection {
  min-height: 90vh;
  @apply relative;
  background-image: url(/Logo/hero-background.svg);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.herosection .brandicons-section {
  @apply m-auto absolute top-0 bottom-0 w-full;
  height: 12.4rem;
  z-index: 0;
}

.herosection .brandicons-section .slick-slide> div {
  display: flex;
  justify-content: center;
}
.baseline{
  align-items: baseline;
}
.relipostion{
  position: relative;
  top:10px;
}
.herosection .herocontent {
  z-index: 9;
  min-height: 50vh;
  position:relative;
  top:120px;
}
.opacitated-logos {
opacity: 0.6;
}

.opacitated-logos:hover {
transition: all 300ms;
opacity: 1;
}

.opacitated-logos .shadow {
border: 1px solid transparent;
border-radius: 15px;
}

.opacitated-logos .shadow:hover {
border: 1px solid #ada5b5;
}
.custommarginbottom {
  margin-bottom: 80px;
}
.custommargin{
  margin-bottom: 30px;
}

@media (max-width: 750px) {
  
  .mobile{
    font-size: 20px
  }
  .communitymarginTop{
margin-top: 15rem;
  }
  .col{
    flex-direction: column;
    text-align: center;
    align-items: center;
      gap:23px;
      margin-top: 10px;
  }
}